:host {
    display: grid;
    height: 100vh;
}

.main {
    background-color: rgb(255, 210, 217);
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
}

.slide-bar {
    width: 15vw;
    background-color: purple;
    border-top-right-radius: 70px;
    color: white;
    text-align: center;
    font-size: bold;

}

@media only screen and (max-width: 430px) {
    .slide-bar {
        display: none;

    }
}

.bar {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    font-size: 20px;
    row-gap: 10px;
    text-align: left;
}

.bar>*:hover {
    color: orange;
}

.main-class {
    display: grid;
    grid-template-rows: 1fr 0.8fr 8fr;
    justify-content: center;
}










.date-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
    margin-top: 1rem;
}

.date-class-1 {

    background-color: rgb(248, 145, 133);
    color: white;
    height: 30px;
    width: 12vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
}

.date-class-2 {
    border: 2px solid purple;
    padding-left: 10PX;

    border-radius: 30px;
    color: purple;
    height: 30px;
    width: 13.5vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.month-class {
    border: 2px solid purple;
    padding-left: 10PX;

    border-radius: 30px;
    color: purple;
    height: 30px;
    width: 12vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-input {
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;

}





.main-class-2 {

    list-style-type: none;
    /* padding: 0; */
    display: grid;
    /* justify-content: start; */
    /* align-content: start; */
    grid-template-columns: max-content max-content max-content max-content;
}

.box {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-class-2 li {
    text-align: left;
    margin: 0 30px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}



.main-class-2 li:hover,
.main-class-2 li:active {
    text-decoration: underline;
    color: orange;

}



.main-box {
    display: grid;
    grid-template-columns: 0.5fr 0.2fr 1fr;
    column-gap: 10px;
}

@media only screen and (max-width: 430px) {
    .main-box {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
}


.sub-box {
    display: grid;
    grid-row-gap: 1rem;
}

.sub-box-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.login-card {
    border-radius: 16px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 28px;
    flex-shrink: 0;
}

.container {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    place-items: center;
    grid-column-gap: 5rem;
}

.container p,
.container select {}



.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
}


.main-box-2 {
    display: grid;
    grid-column-gap: 1rem;
    align-items: self-end;
}

.card-2 {
    border-radius: 16px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 28px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 2.2rem; */
    margin-bottom: 1rem;
}

.metric {
    text-align: start;
    align-self: start;
}

.amount {
    text-align: center;
    align-self: center;
}

.main-box-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.login-card-1 {
    border-radius: 16px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 28px;
    flex-shrink: 0;
    width: 24.5vw;
    height: 32vh;
    position: relative;
}

.slider-container {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    /* Adjust width to take up full width */
    margin: auto;
}

.slider-container::-webkit-scrollbar {
    display: none;

}

.slide {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 1%;
    margin-right: 1%;
}

.navigation-buttons {
    margin-top: 10px;
    display: flex;

    justify-content: center;
    align-items: flex-end;
    /* Aligns the container and dots at the bottom */
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 10px 5px;
    cursor: pointer;
}

.active,
.dot:hover {
    background-color: #717171;
}

.number {
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;
}


@media only screen and (max-width: 1160px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 924px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-class-2 {
        list-style-type: none;
        display: grid;
        grid-template-columns: max-content max-content;
    }

    .slide-bar {
        width: 100%;
        background-color: purple;
        border-top-right-radius: 70px;
        color: white;
        text-align: center;
        font-size: bold;
    }

    .main {
        background-color: rgb(255, 210, 217);
        display: grid;
        grid-template-columns: 1fr;
    }

    .bar {
        display: grid;
        justify-content: center;
        align-content: center;
        margin-top: 50px;
        font-size: 20px;
        row-gap: 10px;
        text-align: left;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}